<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1><span>E</span>motion recognition</h1>
        <p>Lorem ipsum dolor sit amet consectetur <span class="pink">adipisicing elit</span>. Lorem ipsum dolor sit amet Possimus <span class="green">eius sequi</span></p>
        <a href="#block-for-image">Start</a>
    </div>
    <!-- <div class="recognized emotions">
        <ul class="graph">
            <li class="percent20">20%</li>
            <li class="percent40">40%</li>
            <li class="percent60">60%</li>
            <li class="percent80">80%</li>
            <li class="percent100">100%</li>
        </ul>
    </div> -->
    <div id="block-for-image">
            <div class="forma">
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam exercitationem tempora error doloribus, soluta consequuntur mollitia ve?</div>
                <div class="block"><form method=post enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                  </form></div>
            </div>
            <div class="image">E</div>
    </div>
    <div class="button-class">
        <button class="start"></button>
        <button class="try-again">Try again</button>
    </div>
</body>
</html>
