<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1><span>E</span>motion recognition</h1>
        <p>Разработанная <span class="pink">экспертная система</span> может использоваться <span class="green">в правоохранительных органах и в частных охранных компаниях</span></p>
        <a href="#block-for-image">Start</a>
    </div>
  
    <div id="block-for-image">
            <div class="forma">
                <div class="text">При изменении внутреннего состояния человека меняются и эмоции, которые отражаются на лице. Таким образом, считав эмоцию с лица респондента, мы можем предположить, что он задумал или что ощущает в данный момент.</div>
                <div class="block"><form method=post enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                  </form></div>
            </div>
            <div class="image">E</div>
    </div>
    <div class="button-class">
        <button class="start"></button>
    </div>
</body>
</html>
